

.menu ul li.nav_acceuil  a {
	list-style-type: none;
	color: brown;
	text-decoration:none;
} 

.menu ul li.nav_competences a {
	list-style-type: none;
	color:green;
	text-decoration:none;
} 

.menu ul li.nav_formations a{
	list-style-type: none;
	color:purple;
	text-decoration:none;
} 

.menu ul li.nav_centres_interets a {
	list-style-type: none;
	color:orange;
	text-decoration:none;
} 

.menu ul li.nav_contact a {
	list-style-type: none;
	color:red;
	text-decoration:none;
} 

.titre_competences {
	color:green;
}

.titre_experiences{
	color: cyan;
}

.titre_formations{
	color:purple;
}

.titre_centres_interets{
	color:orange;
}

.emploi{


left:600px;
top:40px;
position:absolute;
}

.photo{
position:absolute;
top:10px;
left:1050px;
}
	


nav{
	position:absolute;
	top:200px;
	left:1200px;
	width:170px;
	height:130px;
	border:thin solid green;


}

#en_tete{
	
	top:50px;
	position:absolute;
}

#accroche{
	position:absolute;
	top:150px;

}

#competences{
	position:absolute;
	top:250px;


}



.table_comp td{

	border: thin solid green;
	width:350px;
	

}

#experiences{
	position:absolute;
	top:250px;
	left:400px;
}

.table_exp{
	border:thin solid cyan ;
	width:600px;
	
}

#comp_exp{
	display:flex;
	flex-wrap;
}

#formations{
	position:absolute;
	top:850px;
}

.table_formations{
	border : thin solid purple;
	width:700px;
}


#centres_interets{
	position:absolute;
	top:1150px;
}

.table_centres_interets{
	border:thin solid orange;
	width:700px;
}

